:root {
  font-size: 100%;
}

@import "./variables.scss";
@import "./partials/normalize";
@import "./partials/typography";
@import "./partials/tabs";
@import "./partials/table";
@import "./partials/button";
@import "./partials/skip";
@import "./partials/links";
/* HTML5 fix for block older browsers */
article,
aside,
footer,
header,
hgroup,
section {
  display: block;
}
ul {
  list-style-type: none;
}
section {
  padding: 20px;
}
a,
button {
  cursor: pointer;
  touch-action: manipulation;
  &:focus {
    outline-offset: 3px;
    color: #333;
  }
}

.red {
  color: $color-red;
}
.green {
  color: $color-green;
}
.blue {
  color: $color-blue;
}

.border_bottom {
  border-bottom: 1px solid $color-light-grey;
}

strong {
  font-weight: bold;
}
.inline {
  display: inline;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.screenreader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* global grid container*/
.grid-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}
.grid__row {
  display: flex;
  .grid__col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid__flex-col-group {
    display: flex;
    flex-wrap: wrap;
    ul {
      height: 260px;
      border-bottom: 1px solid $color-light-grey;
      display: flex;
      flex-wrap: wrap;
    }
    .grid__last_child {
      align-self: flex-end;
      padding: 0.625em;
      label {
        padding-right: 5px;
      }
    }
  }
}

@media (max-width: 1030px) {
  .grid__flex-col-group {
    ul {
      height: 250px;
    }
  }
}

/* Header container styles*/

.header__container {
  .meganav_mobile {
    display: none;
  }
  .meganav-container {
    display: flex;
    padding: 0 0.938em;
    background-color: $color-core-green;
    padding-top: 1em;
    color: $color-white;
    padding-bottom: 0.625em;
  }
  .header__logoNav {
    display: flex;
    flex-basis: 84%;
  }
  .header__logoBox {
    display: block;
    height: 30px;
  }
  img {
    width: 120px;
  }
  .header__topNav ul {
    display: flex;
    color: $color-white;
    text-transform: uppercase;
    padding-top: 0.25em;
    font-size: 0.75em;
    li {
      padding: 0 0.875em;
      border-right: 1px solid;
      a {
        color: $color-white;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    :last-child {
      border: 0;
    }
  }

  .header__searchBox {
    position: relative;
    display: block;
    input {
      width: 250px;
      line-height: 1em;
      padding: 0.313em 0.125em;
      border-radius: 4px 0 0 4px;
      border: 1px solid $color-core-green;
    }
  }

  .header__searchBox .search__btn {
    width: 26px;
    height: 26px;
    margin: 0 0 0 -5px;
    background-color: transparent;
    background-image: url(img/search_icon.png);
    border: none;
    text-indent: -2000px;
    text-transform: capitalize;
    display: inline-block;
    position: absolute;
    right: -1px;
  }
}

/* Header navigation container*/

.header__container .header__nav_container {
  background-color: $color-core-green;
  color: $color-white;
  box-sizing: border-box;
  border-top: 1px solid #459400;
  nav {
    border-top: 1px solid #336d00;
    line-height: 2.5em;
    font-size: 1em;
  }
  ul {
    display: flex;
    li {
      border-right: 1px solid #336d00;
      width: 30%;
      text-align: center;
      a {
        color: $color-white;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    :last-child {
      border: 0;
    }
  }
}

/* Header stock banner styles*/

.header__container .banner__container {
  padding-top: 10px;
  .banner-border {
    border-bottom: 1px solid $color-light-grey;
    font-size: 1em;
  }
  .article {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    span {
      padding-left: 20px;
      color: #666666;
    }
    a {
      padding-right: 15px;
      text-decoration: none;
      &:hover,
      &:focus,
      &:visited {
        text-decoration: underline;
        color: $color-blue;
      }
    }
    span {
      &.help-icon {
        height: 18px;
        width: 18px !important;
        border-radius: 50%;
        display: inline-block;
        border-color: $color-blue;
        color: $color-blue;
        border: 1px solid;
        position: relative;
        width: 28px;
        padding: 0 !important;
        padding-left: 0;
        margin: 0;
        vertical-align: bottom;
      }
      &.help-icon::after {
        content: "\003F";
        position: absolute;
        left: 5px;
      }
    }
  }
  hr {
    color: $color-light-grey;
  }
  ul {
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 0.875em;
    li {
      padding: 5px 10px;
      border-right: 1px solid $color-light-grey;
      .fontBold {
        font-weight: 600;
      }
    }
    :last-child {
      border: none;
    }
    li:first-child {
      color: $color-blue;
      text-transform: uppercase;
    }
  }
}

/* main container styles*/
main {
  background-color: $color-grey;

  .container__tabpanel {
    padding: 5px 25px;
    .box__container {
      border-radius: 5px;
      box-shadow: 0px -10px 20px -30px rgba(188, 188, 188, 0.7),
        0 0px 0px -20px #fff, 7px 4px 15px 0px rgba(188, 188, 188, 0.7),
        -7px 0 15px 0px rgba(188, 188, 188, 0.7);
    }

    .panel__container {
      display: flex;
    }
    .events__container {
      background-color: $color-white;
      padding-left: 2em;
      margin-left: 2em;
      margin-top: 2em;
      padding-top: 10px;
      padding-right: 1.5em;
      width: 50%;
      h2 {
        border-bottom: 1px solid $color-light-grey;
      }
      h3 {
        border-bottom: 1px dotted $color-light-grey;
        padding: 10px 0;
        margin: 10px 0;
      }
      .events__list_item {
        ul {
          :last-child {
            border: 0;
          }
        }
        li {
          padding: 0.5em 0 1.5em 0.5em;
          border-bottom: 1px dotted $color-light-grey;
          display: flex;
          p.inline {
            padding-left: 20px;
          }
          :last-child {
            padding: 5px;
            font-size: 0.875em;
          }
          .calendar__icon {
            width: 46px;
            height: 46px;
            display: inline-block;
            :first-child {
              width: 100%;
              height: 26px;
              font-size: 14px;
              padding-top: 5px;
              border-radius: 5px 5px 0 0;
              color: $color-white;
              text-align: center;
              background-color: #004988;
              color: $color-white;
              text-align: center;
            }
            :last-child {
              width: 100%;
              height: 24.5px;
              font-weight: bold;
              font-size: 14px;
              color: #4c566b;
              text-align: center;
              border-radius: 0 0 5px 5px;
              border: 1.5px solid #004988;
              padding-top: 0;
            }
          }
        }
      }
    }

    .box__container {
      background-color: $color-white;
      margin-top: 1.5em;
      flex-grow: 1;

      h2 {
        padding-bottom: 10px;
      }
      h3 {
        padding-top: 0.625em;
      }
      .positions__header {
        display: flex;
        border-bottom: 1px solid $color-light-grey;
        justify-content: space-between;
        h2 {
          font-weight: bold;
        }
        h3 {
          font-weight: normal;
          font-family: "FidelitySans", Arial, Helvetica, sans-serif;
        }
      }
      .selectWrapper {
        position: relative;
        padding-right: 2em;
      }
      .selectNative {
        display: inline-block;
        width: 275px;
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        position: relative;
        padding: 5px 10px 5px 0;
        font-size: 0.8em;
        option {
          font-size: 1em;
          position: absolute;
          display: flex;
          flex-direction: column;
          border: 1px solid #c5c5c5;
          width: 100%;
          left: -1px;
          border-radius: 0 0 3px 3px;
          background: $color-white;
        }
      }
      .box__wrapper {
        display: flex;
        border-bottom: 1px solid $color-light-grey;
        padding: 1em;
        align-items: center;
        .selectWrapper .option__label {
          display: block;
          padding-bottom: 0.5em;
          font-size: 1em;
          font-weight: bold;
        }
        .quotes__box {
          ul {
            display: flex;
            padding-top: 1em;
            align-items: flex-end;
            font-size: 1em;
            flex-wrap: wrap;

            li > span:first-of-type {
              display: block;
              position: relative;
              top: 5px;
            }
            li:first-of-type strong {
              font-size: 1.125em;
            }
            li:first-of-type {
              padding: 0 1.5em 0 0;
              border-right: 0;
              p {
                font-size: 0.875em;
              }
            }
            li {
              padding-right: 1.688em;
              padding-left: 1em;
              border-right: 1px solid #ddd;
              margin-bottom: 0.5em;
              .stock__pos {
                display: inline;
                font-size: 0.625em;
                color: #666666;
                padding-left: 0.5em;
              }
            }
            span:first-of-type strong {
              font-size: 0.75em;
            }
            span:nth-of-type(2) {
              font-size: 0.75em;
            }
            :last-child {
              border-right: 0;
            }

            img {
              width: 10px;
              padding-left: 0.25em;
              margin-top: 0.25em;
            }
          }
        }
      }
      .positions__nextStep_list {
        padding-top: 0.625em;
        .nestSteps__list_item {
          display: flex;
          h3 {
            border-bottom: 1px solid $color-light-grey;
            font-weight: normal;
            padding-bottom: 0.5em;
            font-size: 1.125em;
          }
          h4 {
            font-size: 1em;
          }
          li {
            padding: 0.625em;
          }
          p {
            padding: 0 0.75em 0 0;
            font-size: 0.875em;
          }
          span.last-span {
            font-size: 0.875em;
          }

          .roll__customSelect {
            width: 100px;
            font-size: 0.8em;
            padding: 2px;
          }

          .nexsteps__card {
            li {
              padding-left: 0;
              padding-bottom: 0;
            }
            li:last-of-type {
              padding-bottom: 0.625em;
            }
            .grid__last_child {
              padding-left: 0;
              .btn-box {
                padding-top: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  main {
    .container__tabpanel {
      .panel__container {
        flex-direction: column;
      }

      .table__container {
        width: 100%;
      }
      .box__container {
        width: 100%;
        margin-left: 0;
      }
      .box__container .box__wrapper {
        flex-wrap: wrap;
      }
    }
  }
  .grid__row {
    flex-direction: column;
    .grid__col-xs-3 {
      max-width: 100%;
      width: 100%;
      h3 {
        font-size: 1em;
      }
    }
    .grid__flex-col-group ul {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1em;
  }
  .header__container {
    position: relative;
    .meganav-container {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;

      position: relative;
    }
    .header__logoNav {
      display: block;
      order: 2;
    }
    .header__logoBox {
      text-align: center;
      margin: 0 auto;
      padding: 0 111px;
      position: absolute;
      top: 17px;
      left: 24px;
    }
    .header__topNav .topNav_listitem {
      .no-border {
        border-bottom: 0;
      }
    }
    .header__topNav ul {
      flex-direction: column;
      text-align: left;
      font-size: 0.875em;
      li {
        border-right: 0;
        padding: 7px 0;
        border-bottom: 1px dashed#34434E;
      }

      li:last-of-type {
        display: none;
      }
    }
    .hidden {
      display: none;
    }
    .header__searchBox {
      order: 1;
      height: auto;
      input {
        width: 93%;
        line-height: 1em;
        padding: 4px 2px;
        border-radius: 4px 0 0 4px;
        border: 1px solid $color-core-green;
      }
      .search__btn {
        right: 15px;
      }
    }
    .header__nav_container {
      nav {
        padding: 0 15px;
        font-size: 1em;
      }
      ul {
        flex-direction: column;
        li {
          width: 100%;
          text-align: left;
          border-right: 0;
          border-bottom: 1px dashed#34434E;
        }
      }
    }

    .meganav_mobile {
      display: block;
      position: relative;
      display: flex;
      justify-content: space-evenly;
      z-index: 999;
      background-color: $color-core-green;
      padding: 15px;

      .btn__hamburger {
        font-size: 2em;
        margin-top: 5px;
        top: 25px;
        left: 10px;
        display: block;
        background: url(img/hamburger_icon.png) no-repeat;
        background-size: 20px 15px;
        width: 40px;
        height: 30px;
        z-index: 1;
      }
      .meganav__logo_mobile {
        text-align: center;
        margin: 0 auto;
        top: 35px;
        left: 24px;
        z-index: 1;
        display: block;
        height: 30px;
        img {
          width: 120px;
        }
      }

      .link_logout {
        color: $color-white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
        &:hover,
        &:focus {
          text-decoration: underline;
          color: $color-white;
        }
      }
    }
    .banner__container {
      ul {
        flex-wrap: wrap;
        li {
          border-right: 0;
        }
      }
    }
  }
  main {
    .container__tabpanel {
      padding: 0;

      .positions__nextStep_list {
        .nestSteps__list_item {
          flex-wrap: wrap;
        }
      }

      .box__container .box__wrapper .qoutes__box ul {
        flex-wrap: wrap;
      }
      .box__container .selectNative {
        width: 100%;
      }
    }
  }
}
