:root {
  font-size: 100%;
}
$color-blue: #0e67a9;
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
sub,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
summary,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

//font declarartion

@font-face {
  font-family: "FidelitySans";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/FidelitySans-Bold.woff");
}
@font-face {
  font-family: "FidelitySans";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/FidelitySans-Light.woff");
}

@font-face {
  font-family: "FidelitySans";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/FidelitySans-Regular.woff");
}
/* HTML5 fix for block older browsers */
article,
aside,
footer,
header,
hgroup,
section {
  display: block;
}
ul {
  list-style-type: none;
}
section {
  padding: 20px;
}
a,
button {
  cursor: pointer;
  touch-action: manipulation;
  &:focus {
    outline-offset: 3px;
    color: #333;
  }
}

strong {
  font-weight: bold;
}
.inline {
  display: inline;
}
body {
  font-family: "FidelitySans", "Open Sans", serif;
  overflow-x: hidden;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.screenreader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.grid--container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}
.grid__row {
  display: flex;
  .grid__col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid__flex-col-group {
    display: flex;
    flex-wrap: wrap;
    ul {
      height: 250px;
      border-bottom: 1px solid #ccc;
      display: flex;
      flex-wrap: wrap;
    }
    .grid__last-child {
      align-self: flex-end;
      padding: 10px;
      label {
        padding-right: 5px;
      }
    }
  }
}

.profit__progress-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: #dbdbdb;
  width: 150px;
  height: 7px;
  position: relative;
  margin-top: 5px;
  .progress__meter {
    border: 1px solid #dbdbdb;
    z-index: 2;
  }
}

.progress__bar_meter {
  position: absolute;
  background-color: #044a7a;
  left: 0;
  height: 7px;
  z-index: 1;
}

@media (max-width: 1030px) {
  .grid__flex-col-group {
    ul {
      height: 250px;
    }
  }
}

.red {
  color: #ff0000;
}
.green {
  color: #336d00;
}
.blue {
  color: $color-blue;
}
.border_bottom {
  border-bottom: 1px solid #ccc;
}
.skip-button {
  position: absolute;
  height: 1px;
  width: 10px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  &:focus {
    background-color: #000;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #fff;
    display: block;
    height: auto;
    left: 5px;
    font-size: 1em;
    line-height: 1.2;
    padding: 10px 15px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}

.header--container {
  .flex-container {
    display: flex;
    padding: 0 15px;
    background-color: #3e8500;
    padding-top: 16px;
    color: #fff;
    padding-bottom: 10px;
  }
  .header--logoNav {
    display: flex;
    flex-basis: 84%;
  }
  .header--logoBox {
    display: block;
    height: 30px;
  }
  img {
    width: 120px;
  }
  .header--topNav ul {
    display: flex;
    color: #fff;
    text-transform: uppercase;
    padding-top: 3px;
    li {
      padding: 0 10px;
      border-right: 1px solid;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    :last-child {
      border: 0;
    }
  }

  .header--searchInput {
    position: relative;
    display: block;
    input {
      width: 250px;
      line-height: 1em;
      padding: 3px 2px;
      border-radius: 4px 0 0 4px;
      border: 1px solid #3e8500;
    }
  }

  .header--searchInput .search__btn {
    width: 26px;
    height: 26px;
    margin: -1px 0 0 -5px;
    background-color: transparent;
    background-image: url(img/search_icon.png);
    border: none;
    text-indent: -2000px;
    text-transform: capitalize;
    display: inline-block;
    position: absolute;
    right: -1px;
  }
}

.header--container .header--nav_container {
  background-color: #3e8500;
  color: #fff;
  box-sizing: border-box;
  border-top: 1px solid #459400;
  nav {
    border-top: 1px solid #336d00;
    line-height: 2.5em;
  }
  ul {
    display: flex;
    li {
      border-right: 1px solid #336d00;
      width: 30%;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    :last-child {
      border: 0;
    }
  }
}
.mega__nav-mobile a {
  display: none;
}
.header--container .banner--container {
  padding-top: 10px;
  .banner--border {
    border-bottom: 1px solid #ccc;
  }
  .article {
    display: flex;
    justify-content: space-between;
    span {
      padding-left: 20px;
    }
    a {
      padding-right: 15px;
      text-decoration: none;
      &:hover,
      &:focus,
      &:visited {
        text-decoration: underline;
        color: #0e67a9;
      }
    }
  }
  hr {
    color: #ccc;
  }
  ul {
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
    li {
      padding: 5px 10px;
      border-right: 1px solid #ccc;
      .fontBold {
        font-weight: 600;
      }
    }
    :last-child {
      border: none;
    }
    li:first-child {
      color: #0e67a9;
      text-transform: uppercase;
    }
  }
}
main {
  background-color: #f0f0f0;

  .container--tabpanel {
    padding: 5px 25px;
    .box__container {
      border-radius: 5px;
      box-shadow: 0px -10px 20px -30px rgba(188, 188, 188, 0.7),
        0 0px 0px -20px #fff, 7px 4px 15px 0px rgba(188, 188, 188, 0.7),
        -7px 0 15px 0px rgba(188, 188, 188, 0.7);
    }
    .tablist {
      display: flex;
      color: #0e67a9;
      line-height: 1.5rem;
      font-size: 1.25em;
    }
    .tablist li {
      padding: 10px 18px;
      cursor: pointer;
    }
    .tablist li[aria-selected="true"] {
      color: black;
      border-bottom: 6px solid #0e67a9;
    }

    div[aria-hidden="true"] {
      display: none;
    }
    .panel__container {
      display: flex;
    }
    .events__container {
      width: 50%;
      background-color: #fff;
      padding-left: 2em;
      margin-left: 2em;
      margin-top: 2em;
      padding-top: 10px;
      padding-right: 1.5em;
      h2 {
        font-weight: bold;
        font-size: 1.3em;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
      }
      h3 {
        border-bottom: 1px solid #ccc;
        /* padding: 10px; */
        padding: 10px 0;
        font-weight: bold;
        font-size: 1.1em;
      }
      .events__list-item {
        ul {
          :last-child {
            border: 0;
          }
        }
        li {
          padding: 1.5em 0;
          border-bottom: 1px solid #ccc;
          display: flex;
          :last-child {
            padding: 5px;
          }
          .calendar__icon {
            width: 55px;
            display: inline-block;
            :first-child {
              width: 50px;
              height: 26px;
              font-size: 14px;

              padding-top: 5px;

              border-radius: 5px 5px 0 0;

              color: #fff;
              text-align: center;
              background-color: #004988;

              color: #fff;
              text-align: center;
            }
            :last-child {
              width: 50px;
              height: 24.5px;
              font-weight: bold;

              font-size: 14px;

              color: #4c566b;
              text-align: center;

              border-radius: 0 0 5px 5px;
              border: 1.5px solid #004988;
            }
          }
        }
      }
    }
    .more__position {
      display: inline-block;
      position: relative;
      padding-right: 0.7em;
      a {
        text-decoration: none;
        color: #0e67a9;
        font-size: 0.9em;
        font-weight: normal;
        position: relative;
        &:after {
          background-image: url(img/icon_arrow_right.png);
          background-size: 8px 16px;
          display: inline-block;
          width: 8px;
          height: 16px;
          content: "";
          /* box-sizing: border-box; */
          position: relative;
          top: 3px;
          left: 4px;
        }
        &:hover,
        &:focus,
        &:visited {
          text-decoration: underline;
          color: #0e67a9;
        }
      }
      img {
        width: 7px;
        padding-left: 8px;

        vertical-align: middle;
      }
    }
    .table--profit-container {
      background-color: #fff;
      margin-top: 2em;
      table {
        padding: 10px;
        width: 100%;
      }
      caption {
        font-weight: bold;
        text-align: left;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 1.25em;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.3em;
      }
      tbody {
        overflow-y: auto;
        overflow-x: hidden;
        height: 400px;
        display: block;
        width: 100%;
        tr {
          text-align: left;
          .th-10 {
            width: 10%;
          }
          .th-20 {
            width: 20%;
          }
          .th-12 {
            width: 12%;
          }
          .th-10 {
            width: 10%;
          }
          .th-22 {
            width: 22%;
          }
        }
        th {
          font-weight: bold;
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding: 7px 5px 7px 10px;
          &:last-child {
            border-right: 0;
          }
        }
        td {
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding: 10px;
          &:last-child {
            border-right: 0;
          }
        }
        .td__last-item {
          display: flex;
          span {
            padding-right: 5px;
          }
        }
      }
    }
    .table__bottomBar ul {
      display: flex;
      li {
        padding: 10px 20px;
      }
      .checkbox__label {
        color: #000;
      }
    }

    .box__container {
      background-color: #fff;
      margin-top: 1.5em;
      .positions__header {
        display: flex;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
      }
      h2 {
        font-weight: bold;
        font-size: 1.3em;
        padding-bottom: 10px;
      }
      h3 {
        padding-top: 10px;
        font-weight: bold;
        font-size: 1.1em;
        padding-left: 0.5em;
      }
      .selectWrapper {
        position: relative;
        padding-top: 20px;
        padding-right: 2em;
      }
      .selectNative {
        display: inline-block;
        width: 250px;
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        position: relative;
        color: #454545;
        padding: 5px 10px;
        font-size: 0.8em;
        option {
          font-size: 1em;
          position: absolute;
          display: flex;
          flex-direction: column;
          border: 1px solid #c5c5c5;
          width: 100%;
          left: -1px;
          border-radius: 0 0 3px 3px;
          background: #fff;
        }
      }
      .box__open--positions {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding-left: 1em;
        padding-bottom: 1em;
        align-items: center;
        .positions__bid ul {
          display: flex;
          padding-top: 1em;
          li span:first-of-type {
            display: block;
          }
          li {
            padding-right: 1.7em;
            padding-left: 1em;
            border-right: 1px solid #ccc;
            .stock__pos {
              display: inline !important;
              font-size: 0.7em;
              color: #666666;
              padding-left: 0.5em;
            }
          }
          :first-child {
            border-right: 0;
            padding-top: 12px;
          }
          :last-child {
            border-right: 0;
          }
          li:nth-child(2) {
            padding-left: 1.5em;
            padding-bottom: 1em;
          }

          img {
            width: 10px;
            padding-left: 0.3em;
            margin-top: 0.3em;
          }
        }
      }
      .positions__nextStep-list {
        padding-top: 10px;
        .nestSteps__list-item {
          display: flex;
          h3 {
            border-bottom: 1px solid #ccc;
            font-weight: normal;
            padding-bottom: 0.5em;
          }
          li {
            padding: 10px;
          }
          p {
            padding: 10px 0;
          }
          .btn {
            border-radius: 2px;
            cursor: pointer;
            text-align: center;
            border: 1px solid #004988;
            color: #fff;
            font-size: 1em;
            padding: 5px 14px;
            background: -webkit-linear-gradient(top, #9bc7e6 0, #0069b6 50%);
            margin-top: 0.6em;
            display: block;
          }
          .roll__customSelect {
            width: 100px;
            font-size: 0.8em;
            padding: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container--tabpanel {
    .table--profit-container {
      overflow-x: scroll;
    }
  }
}

@media (max-width: 1030px) {
  main {
    .container--tabpanel {
      .panel__container {
        flex-direction: column;
      }

      .table--profit-container {
        width: 100%;
      }
      .box__container {
        width: 100%;
        margin-left: 0;
      }
      .box__container .box__open--positions {
        flex-wrap: wrap;
      }
    }
  }
  .grid__row {
    flex-direction: column;
    .grid__col-xs-3 {
      max-width: 100%;
      width: 100%;
    }
    .grid__flex-col-group ul {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .header--container {
    position: relative;
    .flex-container {
      display: flex;
      flex-direction: column;
      padding-top: 3.9em;
      position: relative;
    }
    .header--logoNav {
      display: block;
      order: 2;
    }
    .header--logoBox {
      text-align: center;
      margin: 0 auto;
      padding: 0 111px;
      position: absolute;
      top: 17px;
      left: 24px;
    }
    .header--topNav ul {
      flex-direction: column;
      text-align: left;
      li {
        border-right: 0;
        padding: 7px 0;
        border-bottom: 1px dashed#34434E;
      }
    }
    .header--searchInput {
      order: 1;
      height: auto;
      input {
        width: 93%;
        line-height: 1em;
        padding: 4px 2px;
        border-radius: 4px 0 0 4px;
        border: 1px solid #3e8500;
      }
    }
    .header--nav_container {
      nav {
        padding: 0 15px;
      }
      ul {
        flex-direction: column;
        li {
          width: 100%;
          text-align: left;
          font-size: 1.2em;
          border-right: 0;
          border-bottom: 1px dashed#34434E;
        }
      }
    }

    .mega__nav-mobile {
      position: relative;

      a {
        font-size: 2em;
        position: absolute;
        top: 25px;
        left: 10px;
        display: block;
        background: url(img/hamburger_icon.png) no-repeat;
        background-size: 20px 12px;
        width: 40px;
        height: 30px;
        z-index: 1;
      }
    }
    .banner--container {
      ul {
        flex-wrap: wrap;
        li {
          border-right: 0;
        }
      }
    }
  }
  main {
    .container--tabpanel {
      .tablist {
        flex-wrap: wrap;
      }

      .positions__nextStep-list {
        .nestSteps__list-item {
          flex-wrap: wrap;
        }
      }

      .box__container .box__open--positions .positions__bid ul {
        flex-wrap: wrap;
      }
    }
  }
}
