// variables
$color-blue: #0e67a9;
$color-blue-dark: #0c5892;
$color-red: #e01616;
$color-green: #336d00;
$color-white: #ffffff;
$color-core-green: #3e8500;
$color-light-grey: #cccccc;
$color-grey: #f0f0f0;
